@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

.first{
    background-image: url(../src/assets/bg.png);
    background-position: center;
    background-size: cover;
    height: 500px;

}

.subtitle {
    margin-top: 60px;
}

.btn-danger{
    background-color: #E71800 !important;
}

.bg-danger{
    background-color: #E71800;
    height: 6px;
    width: 180px;
}

.second{
    background-image: url(../src/assets/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}